@model Quotes.Models.Event

@{
    ViewData["Title"] = "Quote your event!";
}

<h2>Quote your event!</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Petition" class="control-label"> What do you need?</label>
                <input asp-for="Petition" class="form-control" />
                <span asp-validation-for="Petition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventType" class="control-label"> Kind of event or celebration</label>
                <input asp-for="EventType" class="form-control" />
                <span asp-validation-for="EventType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place" class="control-label">Where do you want it to be?</label>
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDate" class="control-label"> Date of the event </label>
                <input asp-for="EventDate" class="form-control" />
                <span asp-validation-for="EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NAssistants" class="control-label"> Amount of assistants expected </label>
                <input asp-for="NAssistants" class="form-control" />
                <span asp-validation-for="NAssistants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"> Extra details </label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name </label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label">Phone </label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email </label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" href="@Url.Action("Done","Events")" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
