
@{
    ViewData["Title"] = "Done";
}

<h2>Done</h2>


<p> Your petition has been taken successfully a company will contact you and make you know about their conditions and price</p>


<div>
    <a class="btn btn-default" href="@Url.Action("Index", "Home")">
        Go back to Home page
    </a>
</div>